.empedit-container{
  padding-top: 80px; /* space for fixed navbar */
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f5f6fa;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
}